*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fb;
    font-family:"Outfit", sans-serif;
}

/* ================= NAVBAR ================= */
.navbar{
    background: #3620ff;
}

.nav-item{
    padding-top: 5px;
}

.nav-link{
    font-weight:500;
    margin-left:10px;
    transition:.3s;
}

.nav-link:hover{
    color:#ffc107 !important;
}

.cart-icon{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.cart-badge{
    position: absolute;
    top: -3px;
    right: -10px;

    min-width: 10px;
    height: 10px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #db091e;
    color: white;

    font-size: 11px;
    font-weight: 600;

    padding: 2px;
}

/* ================= HERO ================= */
.hero{
    background:linear-gradient(135deg, slateblue, darkblue);
    color:white;
    padding:80px 0;
}

.hero-img{
    max-height:350px;
}

/* ================= CARD ================= */
.product-card{
    transition:.3s;
    border:none;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.card-img-top{
    height:220px;
    object-fit:cover;
}

.card-header{
    background:#3620ff;
    color:white;
}

.card-header .badge{
    background-color: #8f4df8;
}

/* ================= BUTTON ================= */
.btn-warning{
    font-weight:bold;
    background-color:#8f4df8;
    border: #8f4df8;
}

.btn-warning:hover{
    font-weight:bold;
    background-color: #6c2fce;
}

/* ================= FOOTER ================= */
footer{
    background:#3620ff;
}

/* ================= RESPONSIVE ================= */
@media(max-width:991px){
    .hero{
        text-align:center;
    }

    .hero-img{
        margin-top:40px;
    }

}
