*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fb;
    font-family:"Outfit", sans-serif;
}

/* ================= NAVBAR ================= */
.navbar{
    background: #3620ff;
}

.nav-link{
    font-weight:500;
    margin-left:10px;
    transition:.3s;
}

.nav-link:hover{
    color:#ffc107 !important;
}

/* ================= HERO ================= */
.hero{
    background:linear-gradient(135deg, slateblue, darkblue);
    color:white;
    padding:80px 0;
}

.hero-img{
    max-height:350px;
}

/* ================= CARD ================= */
.product-card{
    transition:.3s;
    border:none;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.card-img-top{
    height:220px;
    object-fit:cover;
}

.card-header{
    background:#3620ff;
    color:white;
}

.card-body .bg-primary{
    background-color: chartreuse;
}

/* ================= BUTTON ================= */
.btn-warning{
    font-weight:bold;
}

/* ================= FOOTER ================= */
footer{
    background:#3620ff;
}

/* ================= RESPONSIVE ================= */
@media(max-width:991px){
.hero{
    text-align:center;
}

.hero-img{
    margin-top:40px;
}

}
